@inherits LayoutComponentBase

@using Documentation.CSharp.Web.Primitives;

<div class="page">
    <header>
        <h2><a href="/">Site Header</a></h2>
        <nav>
            <a href="/api">API Browser</a>
            <a href="/article">Articles</a>
        </nav>
    </header>

    @Body
</div>
